.field {
  align-items: center;
  padding: 3px 0;
  margin-bottom: 10px;
}

.input {
  display: block;
  width: 100%;
}

.required {
  color: red;
  margin-left: 3px;
}

.error {
  color: red;
}

.checkbox {
  margin-top: 10px;
}

.checkboxInput {
  display: inline-block;
  margin: 15px 0 0;
}

.checkboxLabel {
  margin-left: 8px;
  display: inline-block;
}
