.field {
  align-items: center;
  padding: 3px 0;
  margin-bottom: 10px;
}

.input {
  display: block;
  width: 100%;
}

.required {
  color: red;
  margin-left: 3px;
}

.error {
  color: red;
}

.checkboxInput {
  display: inline-block;
}

.checkboxLabel {
  margin-left: 8px;
  display: inline-block;
}

.subtext {
  font-size: 14px;
  color: #777;
}
